<html>
    <h1>Endre's Blog</h1>
    <h2>A sub-heading</h2>
    <h3>A sub-sub-heading</h3>
    <em>text</em>
    <strong>text2</strong>
    <br />
    <br />
    <a href="https://djangogirls.org">link</a>
    <ul><li>first item</li><li>second item</li></ul>
    <br />
    <div></div>
    <br />
    <br />
    <head>
        <title>Endre's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
            <br />
            <br />
        </div>

        {% for post in posts %}
            <div>
                <p>-----------------------------------------------------------------</p>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>-----------------------------------------------------------------</p>
            </div>
        {% endfor %}
    </body>
</html>
